// ------------------------ font size of responsive layout
$baseFontSize: 12px;
$rootFontSize: 12px;

$rootFontSize_iphone5: 12px;
$rootFontSize_note_iphone6: 12px !default;
$rootFontSize_note_iphone6s: 16px;
$rootFontSize_note_droid4: 18px;
$rootFontSize_nexus7: 20px;
$rootFontSize_ipad: 25px;
$rootFontSize_desktop: 40px;
